<div class="container">
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <div class="card">
          <form class="card-body cardbody-color p-lg-5">
            <div class="text-center">
              <h1>SUMA Y PROMEDIO</h1>
            </div>
            <div class="mb-2">
              <input type="text" class="form-control" id="numero1" aria-describedby="numero1"
                placeholder="Numero 1">
            </div>
            <div class="mb-2">
                <input type="text" class="form-control" id="numero2" aria-describedby="numero2"
                  placeholder="Numero 2">
              </div>
            <div class="text-center"><button type="submit" class="btn btn-color px-5 mb-2 w-100">CALCULAR</button></div>
          </form>
        </div>
      </div>
    </div>
  </div>